@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Open+Sans&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	background: linear-gradient(1deg, #545c64, #23243b);
	font-family: "Nunito Sans", sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

.section-1 {
	height: 70%;
	background: #23243b;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px rgb(0 0 0 / 60%);
}

.section-1 form {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-evenly;
}

.section-2 {
	background: #23243b;
	height: 50%;
	width: 20%;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
}

.items {
	margin: 5px;
	background: #545c64;
	padding: 5px 0 5px 10px;
	border-radius: 5px;
	color: #c6c8cc;
	font-size: 1.1rem;
	width: 95%;
}

.values {
	color: #8c949c;
}

.input {
	padding: 5px;
	background: #545c64;
	border: none;
	border-radius: 3px;
	height: 32px;
}

.input::placeholder {
	color: #c6c8cc;
}

.mt {
	margin-top: 27px;
}

.fw {
	width: 100%;
	color: #c6c8cc;
}

.submit:hover {
	background: rgb(44, 91, 179);
}

.price {
	background: #23243b;
	height: 90px;
	width: 31%;
	position: absolute;
	top: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 59px;
	box-shadow: 0px 4px 3px rgb(0 0 0 / 20%);
}

.close {
	align-self: baseline;
	font: icon;
	color: goldenrod;
	cursor: pointer;
}

.hidden {
	display: none;
}

.price-value {
	color: antiquewhite;
}
