<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <section class="section-1">
            <form onsubmit="handleSubmit">
                <div>
                    <div>
                        <input type="number" placeholder="bedrooms">
                        <input type="number" placeholder="bathrooms">
                    </div>
                </div>
                <div>
                    <div>
                        <input type="number" placeholder="toilets">
                        <input type="number" placeholder="parking space">
                    </div>
                </div>
                <div>
                    <div>
                        <input type="text" placeholder="town">
                    </div>
                    <div>
                        <select name="title" id="title">
                            <option value="detached duplex">Detached Duplex</option>
                            <option value="semi detached duplex">Semi-detached Duplex</option>
                            <option value="detached bungalow">Detached Bungalow</option>
                            <option value="semi-detached bungalow">Semi-detached Bungalow</option>
                            <option value="terraced duplex">Terraced Duplex</option>
                            <option value="terraced bungalow">Terraced Bungalow</option>
                            <option value="flat">Block of flat</option>
                        </select>
                    </div>
                    <div>
                        <select name="state" id="state">
                            <option value="abuja">Abuja</option>
                            <option value="abia">Abia</option>
                            <option value="adamawa">Adamawa</option>
                            <option value="akwa-ibom">Akwa Ibom</option>
                            <option value="anambara">Anambara</option>
                            <option value="bauchi">Bauchi</option>
                            <option value="bayelsa">Bayelsa</option>
                            <option value="benue">Benue</option>
                            <option value="borno">Borno</option>
                            <option value="cross-river">Cross River</option>
                            <option value="delta">Delta</option>
                            <option value="ebonyi">Ebonyi</option>
                            <option value="edo">Edo</option>
                            <option value="ekiti">Ekiti</option>
                            <option value="enugu">Enugu</option>
                            <option value="gombe">Gombe</option>
                            <option value="imo">Imo</option>
                            <option value="jigawa">Jigawa</option>
                            <option value="kaduna">Kaduna</option>
                            <option value="kano">Kano</option>
                            <option value="katsina">Katsina</option>
                            <option value="kebbi">Kebbi</option>
                            <option value="kogi">Kogi</option>
                            <option value="kwara">Kwara</option>
                            <option value="lagos">Lagos</option>
                            <option value="nasarawa">Nasarawa</option>
                            <option value="niger">Niger</option>
                            <option value="ogun">Ogun</option>
                            <option value="osun">Osun</option>
                            <option value="ondo">Ondo</option>
                            <option value="oyo">Oyo</option>
                            <option value="plateau">Plateau</option>
                            <option value="rivers">Rivers</option>
                            <option value="sokoto">Sokoto</option>
                            <option value="taraba">Taraba</option>
                            <option value="yobe">Yobe</option>
                            <option value="zamfara">Zamfara</option>
                        </select>
                    </div>
                </div>
    
                <div>
                    <input type="submit">
                </div>
            </form>
        </section>
        <section class="section-2">
            <div>
                <div>Bedrooms <span>5</span></div>
                <div>Bathrooms <span>4</span></div>
            </div>
            <div>
                <div>Parking space <span>3</span></div>
                <div>Toilets <span></span>3</div>
            </div>
            <div>
                <div>Title <span>Duplex</span></div>
                <div>Town <span>Kawo</span></div>
            </div>
            <div>State <span>Kaduna</span></div>
        </section>
    </div>
    
</body>
</html>